*,
*:before,
*:after {
  box-sizing: border-box;
  font-size: 18px;
  font-family: Josefin;
}
@tailwind base;
@tailwind components;
@tailwind utilities;
.light {
  background-color: hsl(0, 0%, 98%);
  /* color: white;hsl(236, 33%, 92%) */
}
@font-face {
  font-family: Josefin;
  src: url(https://fonts.google.com/specimen/Josefin+Sans);
}
.active {
  color: hsl(220, 98%, 61%);
}
.filter:hover {
  color: hsl(235, 21%, 11%);
}
.dark {
  background-color: hsl(235, 21%, 11%);
  color: #fff;
}
.dark .header {
  background-image: url("images/bg-mobile-dark.jpg");
}
.dark .header #theme-toggle-dark-icon {
  display: none;
}

.dark .item,
.dark input {
  background-color: #24273d;
}
.dark hr {
  opacity: 0.1;
}
/* .light {
  background-color: #fff;
  color: #333;
 } */
.light .header #theme-toggle-light-icon {
  display: none;
}
.listbody {
  min-height: 70vh;
}
.dark .itemcount {
  color: hsl(233, 14%, 35%);
}
.itemcount {
  color: hsl(233, 11%, 70%);
}
.dark .itembody {
  color: hsl(234, 39%, 85%);
}
.itembody {
  position: relative;
  top: -35px;
  color: hsl(240, 6%, 50%);
  font-weight: 600;
}
.liststatus {
  color: hsl(240, 6%, 50%);
  font-weight: 600;
}
.dark .liststatus {
  color: hsl(234, 39%, 85%);
}
.dragtext {
  color: hsl(234, 39%, 85%);
}
.dark .dragtext {
  color: hsl(240, 6%, 50%);
}
.header {
  background-image: url("images/bg-mobile-light.jpg");
  background-size: cover;
  font-family: Josefin;
}
.tracking-widest {
  letter-spacing: 0.9em;
  font-weight: 900;
  font-size: larger;
}

.item {
  background-color: white;
  border-radius: 5px;
}

/*desktop and larger view*/

@media screen and (min-width: 821px) {
  .header {
    background-image: url("images/bg-desktop-light.jpg");
  }
  .dark .header {
    background-image: url("images/bg-desktop-dark.jpg");
  }
}
